h1 {
    background-color: purple;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.odd {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#two {
    color: brown;
    font-size: 20px;
}

.adjust-font-size {
    font-size: 20px;
}

#four {
    background-color: blueviolet;
    font-weight: bold;
}

.inverted,
.fancy {
    font-family: Helvetica, "Times New Roman" sans-serif;
    font-size: 15px;
}
.inverted {
    background-color: black;
    color: white;
  }
  
  .fancy {
    background-color: yellow;
  }