h1 {
    background-color: purple;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.odd {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#two {
    color: brown;
}
